section{
    padding: 2%;
}

h1{
    font-size: 4vw;
    color: #F1E09E;
    text-align: center;
}


.head{ grid-area: head;}
.main{ grid-area: main;}
.side{ grid-area: side;}
.foot{ grid-area: foot;}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
	.grid-container{
		display:grid;
		grid-template-areas:
			'head head'
            'main side'
            'main side'
			'foot foot';
            grid-gap:0px;
            padding:4px;
        } 
        .move{
            display: block;
            margin-right: auto;
            margin-left: auto;
            
        }   
        header{
            text-align: center;
        }
    }

/* For tablets: */
@media only screen and (min-width:481px) {
	.grid-container{
		display:grid;
		grid-template-areas:
        'head head'
        'main side'
        'main side'
        'main side'
        'foot foot';
		grid-gap:0px;
		padding:5px;
	}
    .move{
        float:right;
        max-width:300px;
        padding-right:10%;
    }
}


@media only screen and (min-width: 769px) {
	.grid-container{
		display:grid;
        grid-gap: 5px;
		grid-template-areas:
        'head head'
        'main side'
        'main side'
        'main side'
        'foot foot';
		grid-gap:5px;
		padding:10px;
	}	
    .move{
        float:right;
        max-width:500px;
        padding-right:10%;
        border-radius: 5px;
    }

}
